<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li class="active"><%= link_to("達成したTODO", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    <% @likes_by_day.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <div class="users-posts-index-item">
        <div class="post-right">
          <span class="fa-regular fa-square-check unliked-btn"></span>
          <div class="user-post-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
        <div class="users-post-left">
          <p><%= post.created_at.strftime("%m月%d日") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
